/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container{
    display: flex;
    padding-top: 20px;
    justify-content: center;

}

.profile-user-name{
    font-weight: lighter;
    font-size: 2.8rem;
}

.btn{
    height: 25px;
    font-weight: 550;
    background: transparent;
    line-height: 1,8;
}

.profile-edit-btn{
border-radius: 0.3rem;   
border: 0.1rem solid #dbdbdb;
padding: 0 1.6rem;
margin-left: 2rem;
font-size: 1.2rem;
}

.profile-settings-btn{
    width: 35px;
    border: none;
    font-size: 1.5rem;
}


ul{
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    justify-content: space-evenly;
    padding-left: 0;
    padding-bottom: 20px;
}

.profile-bio{
    margin-top: 30px;
}

.profile-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: solid 6px #468171;
    overflow: hidden;
    display: flex;
}

.profile-image img{
    width: 100%;
    height: auto;
}

img {
    display:block;
    width: 160px;
    height: 190px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-stat-count{
    font-weight: 600;
    margin-top: 50px;

}


.profile-user-name,
.profile-bio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.profile-user-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-type{
    position: absolute;
    color: white;
    justify-content:center;
    align-items: center;
    font-size: 5px;
    display: flex;
}

.gallery-item-info, .gallery-item-type{
display: none;
}

img:hover{
    opacity: 0.5;
}

.first-row{
    height: 280px;
}

