/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.profile-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: solid 6px #468171;
}

img {
    display:block;
    width: 160px;
    height: 190px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-user-settings{
    display: flex;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.gallery-item-info, .gallery-item-type{
    display: none;
}

.first-row{
    height: 280px;
}